<?php
/**
* PHP-CS-Fixer Config.
*
* @author SignpostMarv
*/
declare(strict_types=1);

namespace SignpostMarv\Brick\Math\Tests;

return Cs::createWithPaths(...[
	__FILE__,
	__DIR__ . '/src/',
	__DIR__ . '/tests/',
]);
